<section class="sections header">
	<div class="container">
		<div class="bar">
			<div class="logo bar-item">
				<a href="/">
					<img src="/images/logo.png" alt="Logo" />
				</a>
			</div>
			<div class="search bar-item">
				<div class="input-wrap">
					<i class="fa-solid fa-magnifying-glass search-icon"></i>
					<input class="search-box" placeholder="Search" type="text" />
				</div>
			</div>
			<div class="user bar-item">
				<div class="add-to-cart">
					<div>
						<i class="fa-solid fa-cart-shopping"></i>
					</div>
					<div>
						<span class="cart-text">Cart</span>
						<span class="count">0</span>
					</div>
				</div>
				<div class="user-icon hide">
					<i class="fa-solid fa-user"></i>
				</div>
				<div class="login-form-show">
					<button>Login</button>
				</div>
			</div>
		</div>
	</div>
</section>
