/* defult valus start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

body {
	margin: 0;
}
.hide {
	display: none;
}
.container {
	width: 90%;
	max-width: 1366px;
	margin: 0 auto;
}

@font-face {
	font-family: "Axiforma-Light";
	src: url("/fonts/Axiforma-Light.woff2") format("woff2"), url("/fonts/Axiforma-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Axiforma-Medium";
	src: url("/fonts/Axiforma-Medium.woff2") format("woff2"), url("/fonts/Axiforma-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Axiforma-Regular";
	src: url("/fonts/Axiforma-Regular.woff2") format("woff2"), url("/fonts/Axiforma-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.master-section {
	width: 100%;
	overflow: hidden;
}

/* defult valus end */

.sections {
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	background: #fafafa 0% 0% no-repeat padding-box;
}

img {
	width: 100%;
	height: auto;
}

.sections .container {
	margin: 0 auto;
}
span.msg {
	font-size: 12px;
	color: #ff5733;
	font-family: arial, sans-serif;
}

/* Admin Login Start */

.admin-login .container .mid {
	width: 350px;
	height: 630px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.admin-login .container .mid .head {
	font: normal normal 600 27px/27px Segoe UI;
	text-align: center;
}

.admin-login .container .wrap {
	width: 350px;
	height: 325px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #4c4c4c28;
	border-radius: 11px;
	padding: 30px;
}

.admin-login .container .wrap .user-id-wrap {
	margin-bottom: 20px;
}

.admin-login .container .wrap label {
	font: normal normal 600 16px/27px Segoe UI;
	letter-spacing: 0px;
	color: #1a1a1a;
}

.admin-login .container .wrap input {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	outline: none;
	padding: 10px;
	width: 100%;
	margin: 10px 0;
}

.admin-login .container .wrap .singup-wrap {
	margin-top: 15px;
}

.admin-login .container .wrap #sing-up {
	background: #fff700 0% 0% no-repeat padding-box;
	border: 1px solid #e8e8e8;
	font: normal normal 600 16px/27px Segoe UI;
	border-radius: 17px;
	width: 70%;
	margin: 0 auto;
	display: block;
	padding: 8px;
	cursor: pointer;
}

.admin-login .container .info {
	width: 350px;
	height: 193px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #4c4c4c28;
	border-radius: 10px;
	padding: 30px;
	border: 1px solid #707070;
}

.admin-login .container .info h4 {
	font: normal normal 600 16px/27px Segoe UI;
	color: #1a1a1a;
}

.admin-login .container .info h5 {
	font: normal normal 600 15px/27px Segoe UI;
	color: #515151;
}

/* admin content start */

.admin-content header {
	border-bottom: 1px solid #ececec;
}
.admin-content .container .header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0;
}
.admin-content .container .header-wrap img {
	width: 150px;
	height: auto;
}

.admin-content .container .header-wrap .username {
	padding: 5px;
	color: #1a1a1a;
	font: normal normal 600 17px/22px Segoe UI;
}

/* Content Start*/

.admin-content .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.admin-content .content .side {
	min-height: 100px;
}

.admin-content .content .left-side {
	width: 15%;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ececec;
	border-bottom: 0;
}

.admin-content .content .left-side .wrap {
	padding: 30px 10px 10px 30px;
	font-family: Axiforma-Regular;
}

.admin-content .content .left-side .wrap .bar {
	padding: 5px 0;
}
.admin-content .content .left-side .wrap .bar .tab-switch {
	cursor: pointer;
	user-select: none;
}

.admin-content .content .left-side .wrap .bar .promotion-nested {
	padding-left: 30px;
}
.admin-content .content .left-side .wrap .bar .promotion-nested p {
	padding-top: 5px;
	padding-bottom: 5px;
}

.admin-content .content .right-side {
	width: 85%;
	padding: 25px;
}

.admin-content .content .right-side .order-section .load-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.admin-content .content .right-side .order-section .load-buttons .btn {
	border-radius: 8px;
	font-family: Axiforma-Medium;
	font-size: 15px;
	padding: 15px;
	width: 174px;
	height: 71px;
	margin-right: 30px;
	margin-bottom: 30px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 4px 7px 7px #7f70701c;
	user-select: none;
	cursor: pointer;
}
.admin-content .content .right-side .order-section .load-buttons .btn.all.color {
	background-color: #fff700;
}

.admin-content .content .right-side .order-section .load-buttons .btn.pending.color {
	background-color: #0099ff;
	color: #ffffff;
}
.admin-content .content .right-side .order-section .load-buttons .btn.confirmed.color {
	background-color: #21aa00;
	color: #ffffff;
}
.admin-content .content .right-side .order-section .load-buttons .btn.canceled.color {
	background-color: #ff004e;
	color: #ffffff;
}

.admin-content .content .right-side .order-section .order-list {
	overflow-y: auto;
	max-height: 1000px;
	text-align: center;
}

.admin-content .content .right-side .order-section .order-list .order-list-header,
.admin-content .content .right-side .order-section .order-list #list-wrap .list-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Axiforma-Regular;
	padding: 20px;
}
.admin-content .content .right-side .order-section .order-list #list-wrap {
	box-shadow: 1px 3px 9px 1px rgb(194 194 194 / 38%);
}

.admin-content .content .right-side .order-section .order-list #list-wrap .list-data {
	padding-top: 15px;
	padding-bottom: 15px;
}

.admin-content .content .right-side .order-section .order-list .order-list-header div,
.admin-content .content .right-side .order-section .order-list #list-wrap .list-data div {
	width: 20%;
}

.admin-content .content .right-side .order-section .order-list #list-wrap .list-data .action {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
}
.admin-content .content .right-side .order-section .order-list #list-wrap .list-data .action button {
	border: none;
	padding: 10px 20px;
	background: 0% 0% no-repeat padding-box;
	border-radius: 23px;
	cursor: pointer;
}

.admin-content .content .right-side .order-section .order-list #list-wrap .list-data .action #do-confirm {
	background-color: #fff700;
	color: #1a1a1a;
}
.admin-content .content .right-side .order-section .order-list #list-wrap .list-data .action #do-cancel {
	background-color: #ff3d3d;
	color: #ffffff;
}

.admin-content .content .right-side .order-section .order-list #list-wrap .list-data .status {
	text-transform: capitalize;
}

/* order-section Section */

/* product-section Section */
.admin-content .content .right-side .product-section .products .product-add-button {
	margin-bottom: 25px;
}
.admin-content .content .right-side .product-section .products .product-add-button button {
	padding: 15px 20px;
	background-color: rgb(255, 255, 255);
	border: 0;
	box-shadow: 0px 3px 6px #8a8a8a19;
	border-radius: 23px;
	cursor: pointer;
}

.admin-content .content .right-side .product-section .products .product-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2%;
}
.admin-content .content .right-side .product-section .products .product-list .item {
	padding: 7%;
	height: 337px;
	margin-bottom: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 6px #00000026;
	border-radius: 10px;
}

.admin-content .content .right-side .product-section .products .product-list .item .image-warp {
	border-radius: 5px;
	overflow: hidden;
	height: 63%;
}

.admin-content .content .right-side .product-section .products .product-list .item .image-warp img {
	height: 100%;
}
.admin-content .content .right-side .product-section .products .product-list .item .content {
	height: 37%;
	padding: 15px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.admin-content .content .right-side .product-section .products .product-list .item .content .product-name {
	font: normal normal normal 18px/25px;
	font-family: Axiforma-Regular;
	letter-spacing: 0.31px;
	color: #4d4d4d;
}

.admin-content .content .right-side .product-section .products .product-list .item .content .rate-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.admin-content .content .right-side .product-section .products .product-list .item .content .rate-wrap .price {
	font: normal normal normal 18px/33px Segoe UI;

	letter-spacing: 0px;
	color: #2b2b2b;
}

.admin-content .content .right-side .product-section .products .product-list .item .content .rate-wrap .discount-rate {
	font: normal normal normal 17px/22px Segoe UI;
	letter-spacing: 0px;
	color: #000000;
	background: #ffee00 0% 0% no-repeat padding-box;
	border-radius: 3px;
	padding: 5px 10px;
}

/* product-add Section */

.admin-content .content .right-side .product-section .product-add .inner {
	width: 300px;
	min-height: 500px;
	margin: 0 auto;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000001c;
	border-radius: 15px;
}

.admin-content .content .right-side .product-section .product-add .inner form {
	padding: 30px;
	font-family: Axiforma-Regular;
	font-size: 15px;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap {
	overflow: hidden;
	margin-top: 15px;
}
.admin-content .content .right-side .product-section .product-add .inner form .input-wrap:first-child {
	margin-top: 0;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image {
	overflow: hidden;
	position: relative;
	height: 120px;
	margin-bottom: 10px;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image .img-select {
	width: 100%;
	height: 85%;
	background: #fff700 0% 0% no-repeat padding-box;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	padding: 10px 0;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image span {
	width: 100%;
	height: 15%;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0;
	background-color: #ffee00;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image .img-select h5 {
	font-size: 15px;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap.image .img-select p {
	font-size: 14px;
}

.admin-content .content .right-side .product-section .product-add .inner form label {
	user-select: none;
}

.admin-content .content .right-side .product-section .product-add .inner form .input-wrap input {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	width: 100%;
	padding: 9px 10px;
	outline: none;
}

.admin-content .content .right-side .product-section .product-add .inner form .active label {
	cursor: pointer;

	float: left;
}
.admin-content .content .right-side .product-section .product-add .inner form .active input {
	float: right;
	width: 20px;
	font-size: 20px;
	min-width: 0.75em;
	min-height: 20px;
	margin-right: 0.75em;
	border: 2px solid currentColor;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.admin-content .content .right-side .product-section .product-add .inner form #create-product {
	background-color: #fff700;
	border: 0;
	padding: 10px;
	width: 60%;
	margin: 0 auto;
	display: block;
	border-radius: 23px;
	margin-top: 20px;
	cursor: pointer;
	font-family: Axiforma-Regular;
}

/* promo-code-section */
.admin-content .content .right-side .promo-code-section .promocodes .promocodes-add-button #add-promocode-btn {
	padding: 15px 20px;
	background-color: rgb(255, 255, 255);
	border: 0;
	box-shadow: 0px 3px 6px #8a8a8a19;
	border-radius: 23px;
	cursor: pointer;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 6px #8b8b8b29;
	border-radius: 8px;
	width: 100%;
	margin-top: 30px;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid rgb(226 226 226 / 73%);
	padding: 20px;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .the-promo-code {
	padding-top: 10px;
	font-family: Axiforma-Regular;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns button {
	border-radius: 23px;
	border: 0;
	padding: 11px 30px;
	cursor: pointer;
	text-transform: capitalize;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns button:first-child {
	margin-right: 15px;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns .edit {
	background-color: #fff700;
}
.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns .active {
	background-color: #fffee1;
	color: #7a4100;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .top .btns .deactive {
	background-color: #ffe1e1;
	color: #ff0729;
}

.admin-content .content .right-side .promo-code-section .promocodes .promocodes-list .item .bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	font-family: Axiforma-Light;
	font-size: 14px;
}

@media all and (max-width: 1200px) {
	.admin-content .content .right-side .product-section .products .product-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media all and (max-width: 830px) {
	.admin-content .content .right-side .product-section .products .product-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (max-width: 630px) {
	.admin-content .content .right-side .product-section .products .product-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
