<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.min.css" />
		<link rel="stylesheet" href="/css/admin.css" />
	</head>
	<body>
		<section class="master-section">
			<section class="sections admin-login hide">
				<div class="container">
					<div class="mid">
						<div>
							<h3 class="head">Admin Panel</h3>
						</div>
						<div class="wrap">
							<div class="user-id-wrap">
								<label for="user-id">User ID</label>
								<br />
								<input id="user-id" type="text" />
								<span class="msg"></span>
							</div>
							<div class="password-wrap">
								<label for="password">Password</label>
								<br />
								<input id="password" type="password" />
								<span class="msg"></span>
							</div>
							<div class="singup-wrap">
								<button id="sing-up">Sign In</button>
							</div>
						</div>
						<div class="info">
							<h4>Use following credentials to login</h4>
							<h4>User ID</h4>
							<h5><%= process.env.adminPanelUsername %></h5>
							<h4>Password</h4>
							<h5><%= process.env.adminPanelPassword %></h5>
						</div>
					</div>
				</div>
			</section>
			<section class="sections admin-content hide">
				<header>
					<div class="container">
						<div class="header-wrap">
							<div>
								<a href="/"><img src="/images/logo.png" alt="" /></a>
							</div>
							<div class="username" id="user-name">UserName</div>
						</div>
					</div>
				</header>
				<div class="content">
					<div class="left-side side">
						<div class="wrap">
							<div class="promotion-bar bar">
								<p class="tab-switch" id="promotion">Promotion</p>
								<div class="promotion-nested">
									<p class="tab-switch" id="promo-code">Promo codes</p>
									<p class="tab-switch" id="add-promo-code">Add Promo codes</p>
								</div>
							</div>
							<div class="order-bar bar" onclick="orderListLoad()">
								<p class="tab-switch" id="order">Orders</p>
							</div>
							<div class="product-bar bar">
								<p class="tab-switch" id="products">Products</p>
							</div>
						</div>
					</div>
					<div class="right-side side">
						<div class="order-section hide">
							<div class="load-buttons">
								<div class="btn all" onclick="orderListLoad()">All</div>
								<div class="btn pending" onclick="orderListLoad('pending')">Pending</div>
								<div class="btn confirmed" onclick="orderListLoad('confirmed')">Confirmed</div>
								<div class="btn canceled" onclick="orderListLoad('canceled')">Cancelled</div>
							</div>
							<div class="order-list">
								<div class="order-list-header">
									<div>SL</div>
									<div>Order No</div>
									<div>Item Price</div>
									<div>Action</div>
									<div>Status</div>
								</div>
								<div id="list-wrap">
									<!-- <div class="list-data">
										<div class="quantity">1</div>
										<div class="order-no">35564</div>
										<div class="item-price">20000</div>
										<div class="action">
											<button id="do-confirm">Confirm</button>
											<button id="do-cancel">Cancel</button>
										</div>
										<div class="status">Pending</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="product-section hide">
							<div class="product-add hide">
								<div class="inner">
									<form action="" id="product-add-form" method="post" enctype="multipart/form-data">
										<div class="input-wrap image">
											<div class="img-select">
												<h5>Upload Product Image</h5>
												<p>Image Size Must be</p>
												<p>500x500</p>
											</div>
											<input id="product-image" type="file" name="image" />
											<span class="msg"></span>
										</div>
										<div class="input-wrap product-name">
											<label for="product-name">Product name</label>
											<br />
											<input type="text" id="product-name" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap product-price">
											<label for="product-price">Product price (Before Discount)</label>
											<br />
											<input type="text" id="product-price" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap discount-rate">
											<label for="discount-rate">Discount Rate</label>
											<br />
											<input type="text" id="discount-rate" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap shipping-charge">
											<label for="shipping-charge">Shipping Charge</label>
											<br />
											<input type="text" id="shipping-charge" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap color">
											<label for="color">Color</label>
											<br />
											<input type="text" id="color" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap size">
											<label for="size">Size</label>
											<br />
											<input type="text" id="size" />
											<br />
											<span class="msg"></span>
										</div>
										<div class="input-wrap active">
											<label for="active" class="text">Active</label>
											<input type="checkbox" id="active" />
											<br />
											<span class="msg"></span>
										</div>
										<div>
											<button id="create-product">Add Product</button>
										</div>
									</form>
								</div>
							</div>
							<div class="products">
								<div class="product-add-button">
									<button id="add-product">Add New Product</button>
								</div>
								<div class="product-list">
									<!-- <div class="item">
										<div class="image-warp">
											<img src="/images/c.jpg" alt="" />
										</div>
										<div class="content">
											<p class="product-name">Camera</p>
											<div class="rate-wrap">
												<p class="price">
													<span class="currency">BDT.</span>
													<span class="amount">2000</span>
												</p>
												<p class="discount-rate">
													<span class="rate">10</span>
													<span class="percentage">%</span>
												</p>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="promo-code-section hide">
							<div class="promocode-add hide">
								<h1>Add promo code section</h1>
							</div>
							<div class="promocodes hide">
								<div class="promocodes-add-button">
									<button id="add-promocode-btn">Add New Promo</button>
								</div>
								<div class="promocodes-list">
									<!-- <div class="item">
										<div class="top">
											<div class="the-promo-code">
												<p>Get20</p>
											</div>
											<div class="btns">
												<button class="edit">Edit</button>
												<button class="active">Active</button>
											</div>
										</div>
										<div class="bottom">
											<div class="">Created at: 10.09AM, 3/11/2020</div>
											<div class="usages-time">Usages: 6</div>
											<div class="use-limit">Usages limit: 100</div>
											<div class="discount-rate">Discount Rate: 5%</div>
											<div class="startt-date">Start Date: 1/11/2020</div>
											<div class="end-date">End Date: 3/11/2020</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<script src="/script/admin-script.js"></script>
	</body>
</html>
